In [10]:
from pandas_datareader import data as web
import pandas as pd
import seaborn as sns

In [12]:
petr = web.DataReader('PETR4.SA', data_source='yahoo', start='01-01-2021', end='01-10-2021')

In [13]:
type(petr)

pandas.core.frame.DataFrame

In [14]:
petr.head()

             High        Low       Open      Close    Volume  Adj Close
Date
2021-01-04  29.18  28.530001  28.650000  28.910000  74719700  26.396517
2021-01-05  30.18  28.240000  28.900000  30.040001  95181100  27.428276
2021-01-06  30.90  30.049999  30.160000  30.100000  96562500  27.483057
2021-01-07  31.15  30.340000  30.340000  31.000000  56171300  28.304810
2021-01-08  31.76  30.350000  31.459999  31.120001  67136300  28.414377