In [1]:
from pandas_datareader import data as web
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
from create_database import create_database

%matplotlib inline

In [2]:
ticker_path = './data/raw/ibov_tickers.xlsx'
start='01-01-2020'
end='31-12-2020'

In [16]:
# df = create_database(start,end, ticker_path) #download database from scratch
# df.to_excel("./data/raw/b3_2020.xlsx",index=False)

In [13]:
#read already downloaded database
df = pd.read_excel('./data/raw/b3_2020.xlsx')
df.shape

(21684, 10)

In [14]:
df.sample(3)

,ticker,date,high,low,open,close,volume,adj close,return,result_dia
19174,SUZB3.SA,2020-10-30,52.970001,49.490002,50.439999,50.049999,16475100,50.049999,0.389999,2
6927,DXCO3.SA,2020-01-17,16.900000,16.420000,16.799999,16.750000,3693400,16.089422,0.049999,2
9434,EZTC3.SA,2020-03-13,40.529999,33.720001,38.150002,37.599998,4281000,36.315182,0.550003,2